@font-face {
  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Space Grotesk/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Space Grotesk/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Space Grotesk/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Space Grotesk/SpaceGrotesk-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Space Grotesk/SpaceGrotesk-Bold.ttf') format('truetype');
}
